* {
	padding: 0;
	margin: 0;
}

$accent-color:#01a8ff;
$main-color:#e0e1ef;
$base-color:#fff;
$dark-color:#535353;

body {
	background-color: $base-color;
	box-sizing: border-box;
	font-family: 'Quicksand', sans-serif;
	font-weight: 700;
}

i {
	color: $dark-color;
	margin: 100px 0;

	&:hover {
		color: $accent-color;
	}
}

#header {
	width: 100%;

	.box {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		padding: 100px 0;

		h1 {
			color: $dark-color;
			text-align: left;
			font-size: 10vw;
		}

		p {
			display: block;
			font-weight: 300;
			font-size: 3vw;

		}

	}
}

h1 {
	font-size: 80px;
	text-align: center;
	color: $dark-color;
}

#profile {

	.contant {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		ul {
			li {
				text-align: left;
				display: block;
				margin: 0 auto;
				font-size: 25px;
				font-weight: 500;
				line-height: 50px;
				i{
					margin: 0px 0px;
				}
				//				img {
				//					float: left;
				//					margin: 100px 50px;
				//					border-radius: 50%;
				//					/* 角丸半径を50%にする(=円形にする) */
				//					width: 230px;
				//					/* ※縦横を同値に */
				//					height: 230px;
				//					/* ※縦横を同値に */
				//				}
			}
		}


	}
}

#work {
	width: 80%;
	background-color: $main-color;
	margin: 0 auto;

	h2 {
		width: 10%;
		border-left: 10px solid $accent-color;
		margin-top: 100px;
		font-size: 50px;

	}

	.music {
		.xenon {
			text-align: center;

			p {
				margin-left: 520px;
			}
		}
	}

	.photo {
		margin: 0 auto;

		p {
			margin-left: 10px;
		}

		ul {
			overflow: hidden;

			li {
				width: 26%;
				margin: 3%;
				float: left;
				list-style: none;


				img {
					width: 100%;
				}
			}

			li.yohaku {
				p {
					margin-bottom: 65%;
				}

			}
		}
	}

	.web {
		padding-bottom: 300px;
		margin-bottom: 300px;

		img {
			width: 10%;
		}
	}

}



footer {
	width: 100%;
	margin: 0px auto;
	padding: 1vh 0px;
	text-align: center;
	background-color: $accent-color;
	color: #fff;
}

@media screen and (max-width: 500px) {
	#header {
		.header-right img {
			display: block;
			position: relative;
			top: 5px;
		}

		.header-left {
			p {
				font-size: 20%;
			}

			p a {
				font-size: 20%;
				padding: 5px 10px;
			}
		}
	}
}
