/* line 1, /Users/user/Desktop/ChihiroSugihara/style.scss */
* {
  padding: 0;
  margin: 0; }

/* line 11, /Users/user/Desktop/ChihiroSugihara/style.scss */
body {
  background-color: #fff;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700; }

/* line 18, /Users/user/Desktop/ChihiroSugihara/style.scss */
i {
  color: #535353;
  margin: 100px 0; }
  /* line 22, /Users/user/Desktop/ChihiroSugihara/style.scss */
  i:hover {
    color: #01a8ff; }

/* line 27, /Users/user/Desktop/ChihiroSugihara/style.scss */
#header {
  width: 100%; }
  /* line 30, /Users/user/Desktop/ChihiroSugihara/style.scss */
  #header .box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px 0; }
    /* line 37, /Users/user/Desktop/ChihiroSugihara/style.scss */
    #header .box h1 {
      color: #535353;
      text-align: left;
      font-size: 10vw; }
    /* line 43, /Users/user/Desktop/ChihiroSugihara/style.scss */
    #header .box p {
      display: block;
      font-weight: 300;
      font-size: 3vw; }

/* line 53, /Users/user/Desktop/ChihiroSugihara/style.scss */
h1 {
  font-size: 80px;
  text-align: center;
  color: #535353; }

/* line 61, /Users/user/Desktop/ChihiroSugihara/style.scss */
#profile .contant {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  /* line 68, /Users/user/Desktop/ChihiroSugihara/style.scss */
  #profile .contant ul li {
    text-align: left;
    display: block;
    margin: 0 auto;
    font-size: 25px;
    font-weight: 500;
    line-height: 50px; }
    /* line 75, /Users/user/Desktop/ChihiroSugihara/style.scss */
    #profile .contant ul li i {
      margin: 0px 0px; }

/* line 95, /Users/user/Desktop/ChihiroSugihara/style.scss */
#work {
  width: 80%;
  background-color: #e0e1ef;
  margin: 0 auto; }
  /* line 100, /Users/user/Desktop/ChihiroSugihara/style.scss */
  #work h2 {
    width: 10%;
    border-left: 10px solid #01a8ff;
    margin-top: 100px;
    font-size: 50px; }
  /* line 109, /Users/user/Desktop/ChihiroSugihara/style.scss */
  #work .music .xenon {
    text-align: center; }
    /* line 112, /Users/user/Desktop/ChihiroSugihara/style.scss */
    #work .music .xenon p {
      margin-left: 520px; }
  /* line 118, /Users/user/Desktop/ChihiroSugihara/style.scss */
  #work .photo {
    margin: 0 auto; }
    /* line 121, /Users/user/Desktop/ChihiroSugihara/style.scss */
    #work .photo p {
      margin-left: 10px; }
    /* line 125, /Users/user/Desktop/ChihiroSugihara/style.scss */
    #work .photo ul {
      overflow: hidden; }
      /* line 128, /Users/user/Desktop/ChihiroSugihara/style.scss */
      #work .photo ul li {
        width: 26%;
        margin: 3%;
        float: left;
        list-style: none; }
        /* line 135, /Users/user/Desktop/ChihiroSugihara/style.scss */
        #work .photo ul li img {
          width: 100%; }
      /* line 141, /Users/user/Desktop/ChihiroSugihara/style.scss */
      #work .photo ul li.yohaku p {
        margin-bottom: 65%; }
  /* line 149, /Users/user/Desktop/ChihiroSugihara/style.scss */
  #work .web {
    padding-bottom: 300px;
    margin-bottom: 300px; }
    /* line 153, /Users/user/Desktop/ChihiroSugihara/style.scss */
    #work .web img {
      width: 10%; }

/* line 162, /Users/user/Desktop/ChihiroSugihara/style.scss */
footer {
  width: 100%;
  margin: 0px auto;
  padding: 1vh 0px;
  text-align: center;
  background-color: #01a8ff;
  color: #fff; }

@media screen and (max-width: 500px) {
  /* line 173, /Users/user/Desktop/ChihiroSugihara/style.scss */
  #header .header-right img {
    display: block;
    position: relative;
    top: 5px; }
  /* line 180, /Users/user/Desktop/ChihiroSugihara/style.scss */
  #header .header-left p {
    font-size: 20%; }
  /* line 184, /Users/user/Desktop/ChihiroSugihara/style.scss */
  #header .header-left p a {
    font-size: 20%;
    padding: 5px 10px; } }

/*# sourceMappingURL=style.css.map */